.hidden {
  display: none;
}

.weather-wuery-app .brand {
  display: flex;
  align-items: center;
}

/* 
.content-wrapper .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
} */

.cart {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-200);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}

.product {
  display: flex;
  align-items: center;
  background-color: var(--bg-200);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}

.cart img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  padding: 5px;
  border-radius: 10px;
}

.cart .cart-item {
  display: flex;
  gap: 1rem;
}

.product-feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-feature .product-row {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  font-size: 13px;
}

.product-row i {
  color: var(--text-200);
  border-radius: 50%;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}
.product-row i:hover {
  transition: color 0.3s ease-in-out;
}

.product-row i:active {
  transform: scale(0.95);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.562);
}

.product-row .feature {
  background-color: var(--bg-300);
  padding: 5px 8px;
  border-radius: 15px;
  width: max-content;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

.product-row .feature:hover {
  background-color: var(--bg-200);
  transition: background-color 0.3s ease-in-out;
  color: var(--text-200);
}

.product-row .feature:active {
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.397);
  transform: scale(0.95);
}

.product-feature-wrapper {
  padding: 1rem;
}

.product-feature input {
  color: var(--text-200);
  text-align: center;
}

.product-feature input::-webkit-inner-spin-button,
.product-feature input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.product-feature .product-add-feature {
  border: 1px solid var(--accent-100);
  padding: 5px 10px;
  border-radius: 15px;
  color: var(--text-200);
}

hr {
  color: var(--text-200);
  width: 1px;
  opacity: 0.1;
}

.product-price {
  padding: 1rem;
}
